@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------colors*/

body {
    background-color: aliceblue;
}

#footer {
    background-color: lightgrey;
}

/*-------------------------------------header*/

#hero-image {
    position: relative;
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
    background: url("../images/gym.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#main-title {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 0.3rem;
}

#main-title-text {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(104, 10, 49);
    letter-spacing: 2px;
    border-radius: 4px;
    border: solid 4px;
    border-color: rgb(247, 211, 51);
}

#page-header {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    border-radius: 3px;
    border: solid 4px;
    border-color: rgb(247, 211, 51);
}

#page-header-text {
    width: fit-content;
    color: rgb(104, 10, 49);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.nav {
    margin: 0;
    padding-left: 0;
    padding-top: 0.5rem;
}

.nav  li{
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.nav a:hover {
    color: rgb(104, 10, 49);
    text-decoration: none;
    transition: all 1s ease;
    -webkit-transition-delay:all 1s ease;
    -moz-transition-delay:all 1s ease;
    -ms-transition-delay:all 1s ease;
    -o-transition-delay:all 1s ease;
}

/*-------------------------------------------------footer*/

footer {
    clear: both;
    width: 100%;
    height: 2rem;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

#footer li a {
    margin: auto 0;
}

/*------------------------------------------------index-section*/

#club-ethos {
    margin-top: 1.2rem;
}

.get-fit {
    width: 100%;
}

#left-image-container {
    width: 50%;
    float: left;
}

#left-text {
    width: 40%;
    float: right;
}

#left-image {
    width: 100%;
}

#left-text p {
    font-size: 0.7rem;
    padding: 0.1rem;
}

#left-content {
    clear: both;
}

.get-involved {
    width: 100%;
}

#right-image-container {
    width: 50%;
    float: right;
}

#right-text {
    width: 40%;
    float: left;
}

#right-image {
    width: 100%;
}

#right-text p {
    padding: 0.1rem;
    font-size: 0.7rem;
}

#right-content {
    clear: both;
}

.content-title {
    color: rgb(104, 10, 49);
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.get-involved h3 {
    text-align: right;
}

#left-text br, #right-text br {
    line-height: 1rem;
}

.br {
    visibility: hidden;
    line-height: 1rem;
}

/*--------------------------------------carousel*/

#team-header {
    clear: both;
}

#carouselExampleIndicators {
    width: 80%;
    margin-left: 10%;
}

/*----------------------------------------map*/

#map {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 30vh;
}

/*----------------------------------------class-page*/

#class-form {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding: 0;
}

table {
    width: 100%;
    text-align: center;
}

th, td {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

tr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.combat {
    background-color: rgba(216, 27, 27, 0.3)
}

.circuit {
    background-color: rgba(27, 27, 209, 0.3);
}

.yoga {
    background-color: rgba(20, 212, 20, 0.3);
}

.legend {
    width: 20%;
    border: solid 2px;
    border-radius: 4px;
    text-align: center;
    padding-right: 5px;
}

.legend-container {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.legend-label {
    position: relative;
    padding-left: 5px;
}

#inputs {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#full-name-class, #email-class {
    width: 65%;
    position: absolute;
    right: 5%;
}

#class-submit {
    margin-left: 5%;
}

/*---------------------------------------contact-page*/

#name-contact-adult, #number-contact-adult, #email-contact-adult {
    width: 45%;
    position: absolute;
    right: 5%;
}

#contact-adult, #contact-junior {
    margin-top: 1rem;
}

#contact-adult-submit, #contact-junior-submit {
    margin-left: 5%;
}

.contact-image-container {
    margin: 5%;
}

.contact-image-container img {
    width: 100%;
    height: auto;
}

#contact-adult label, #contact-junior label {
    line-height: 1rem;
    font-size: 0.7rem;
}

.input-label {
    width: 40%; 
    margin-left: 5%;
}

#name-contact-junior, #number-contact-junior, #email-contact-junior {
    width: 45%;
    position: absolute;
    right: 5%;
}

#age {
    position: absolute;
    right: 5%;
}

#chairman {
    margin-top: 1rem;
    clear: both;
    width: 90%;
    margin-left: 5%;
}

#captain {
    margin-top: 1rem;
    clear: both;
    width: 90%;
    margin-left: 5%;
}

#captain-info {
    font-size: 0.7rem;
    line-height: 0.9rem;
    float: left;
    width: 45%;
}

#chairman-info {
    font-size: 0.7rem;
    line-height: 0.9rem;
    float: left;
    width: 45%;
}

#chairman-img {
    width: 45%;
    float: right;
}

#chairman-img img {
    width: 100%;
    height: auto;
}

#captain-img {
    width: 45%;
    float: right;
}

#captain-img img {
    width: 100%;
    height: auto;
}

#contact-section {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/*----------------------------------------------media-query-tablet*/

@media screen and (min-width: 481px), (max-width: 768px) {
    #left-text p, #right-text p {
        font-size: 1rem;
    }

    #main-title-text {
        font-size: 2.8rem;
    }

    #page-header-text {
        font-size: 1.5rem;
    }

    #club-ethos, #team-section, #map {
        margin-left: 5%;
        margin-right: 5%;
    }

    #map {
        width: 90%;
    }

    .legend-container {
        display: none;
    }

    .short-text {
        display: none;
    }

    #contact-junior label, #contact-adult label, #contact-section p {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

/*----------------------------------------------media-query-mobile*/

@media screen and (max-width: 480px) {

    .long-text {
        display: none;
    }

    .short-text {
        display: contents;
    }
    #left-text p, #right-text p {
        font-size: 0.7rem;
    }

    #main-title-text {
        font-size: 2rem;
    }

    #page-header-text {
        font-size: 1rem;
    }

    #club-ethos, #team-section, #map {
        margin-left: 0;
        margin-right: 0;
    }

    #map {
        width: 100%;
    }

    #contact-junior label, #contact-adult label, #contact-section p {
        font-size: 0.7rem;
        line-height: 1rem;
    }

    .legend {
        width: 20%;
        border: solid 2px;
        border-radius: 4px;
        text-align: center;
        padding-right: 5px;
    }
    
    .legend-container {
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }
    
    .legend-label {
        position: relative;
        padding-left: 5px;
    }
}

/*media-query-desktop*/

@media (min-width: 992px) {
    #club-ethos {
        margin: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    #left-content {
        width: 45%;
        float: left;
    }

    #right-content {
        width: 45%;
        float: right;
    }

    #left-text p, #right-text p {
        font-size: 1rem;
    }

    #main-title-text {
        font-size: 5rem;
    }

    #page-header-text {
        font-size: 3rem;
    }

    #club-ethos, #team-section, #map {
        margin-left: 5%;
        margin-right: 5%;
    }

    .content-title {
        font-size: 4rem;
        font-weight: 600;
    }

    #map {
        width: 90%;
    }

    .legend-container {
        display: none;
    }

    .short-text {
        display: none;
    }

    #contact-junior label, #contact-adult label, #contact-section p {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    #hero-image {
        height: 45vh;
    }

    #carouselExampleIndicators {
        width: 25%;
        margin: 4rem auto;
    }

    #name-contact-adult, #number-contact-adult, #email-contact-adult, #name-contact-junior, #number-contact-junior, #email-contact-junior {
        width: 20%;
    }

    .input-label {
        width: 15%;
    }

    .contact-desktop {
        height: 60vh;
        display: inline;
    }

    .contact-image-container img {
        width: 30%;
        height: auto;
    }

    #chairman-img img {
        width: 40%;
        float: left;
    }
    
    #captain-img img {
        width: 40%;
        float: left;
    }

    #class-form {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .contact-image-container iframe {
        width: 400px;
        height: 300px;
    }

}