@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------colors*/

body {
    background-color: aliceblue;
}

#footer {
    background-color: lightgrey;
}

/*-------------------------------------header*/

#hero-image {
    width: 100vw;
    height: 30vh;
    margin: 0;
    padding: 0;
    background: url("../images/gym.jpg");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#main-title {
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 0.3rem;
}

#main-title-text {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(104, 10, 49);
    letter-spacing: 2px;
    border-radius: 4px;
    border: solid 4px;
    border-color: rgb(247, 211, 51);
}

#page-header {
    position: relative;
    right: 0;
    bottom: 0;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 3px;
    border: solid 4px;
    border-color: rgb(247, 211, 51);
}

#page-header-text {
    color: rgb(104, 10, 49);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

#nav  li{
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}

#nav {
    padding: 0;
}

#nav a:hover {
    color: rgb(104, 10, 49);
    text-decoration: none;
    transition: all 1s ease;
    -webkit-transition-delay:all 1s ease;
    -moz-transition-delay:all 1s ease;
    -ms-transition-delay:all 1s ease;
    -o-transition-delay:all 1s ease;
}

/*-------------------------------------------------footer*/

footer {
    width: 100%;
    height: 7vh;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

#footer li a {
    margin: auto 0;
}

/*------------------------------------------------section*/



/*--------------------------------------carousel*/

.item {
    scroll-snap-align: center;
    width: 25%;
    height: fit-content;
}

.item-list {
    margin: 10px auto;
    max-width: 950px;
    height: fit-content;
    width: 75vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item-list::-webkit-scrollbar {
    display: none;
}

/*----------------------------------------class-page*/

#class-form {
    margin: 30px auto;
    width: 70%;
}
/*
#day, #mon, #tues, #weds, #thurs, #fri, #sat, #sun {
    margin-left: 8vw;
    width: 84vw;
}
*/
.day {
    width: 20%;
    display: inline-block;
}

.column1 {
    width: 20%;
    display: inline-block;
}

.column2 {
    width: 20%;
    display: inline-block;
}

.column3 {
    width: 20%;
    display: inline-block;
}

.ButtonState {
    display:none
}

.Button {
    padding:3px; 
    margin:4px; 
    background:#CCC; 
    border:1px solid #333; 
    cursor:pointer;
}

.ButtonState:checked + .Button {
    background:#fff;
}